{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "near-white" }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-30-l mb4 relative bg-forest-card">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{ partial "pagination.html" . -}}
  </article>
{{ end }}
