<div class="nested-copy-line-height">
  <div class="pa4 overflow-hidden">
    {{with .CurrentSection.Title }}<span class="f6 db">{{ . }}</span>{{end}}
    <h1 class="f3 near-white mt0 lh-title">
      <a href="{{ .RelPermalink }}" class="link near-white dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height near-white">
      {{ .Summary }}
    </div>
    <a href="{{.RelPermalink}}" class="ba br2 color-inherit dib f7 link mt2 ph2 pv1 bg-forest-card">{{ $.Param "read_more_copy" | compare.Default (lang.Translate "readMore") }}</a>
  </div>
</div>
