{{- $lic := .Params.license | default "copyright" -}}
<div class="license-block">
  {{- if eq $lic "cc-by-4.0" -}}
    <p><strong>Licencia:</strong> Creative Commons Attribution 4.0 (CC BY 4.0). Puedes reutilizar este texto con atribución (autor, fuente y licencia) e indicando cambios.</p>
  {{- else -}}
    <p>© {{ now.Year }} {{ .Site.Params.author | default "Autor" }}. Todos los derechos reservados. Citas breves con atribución permitidas; para usos más amplios, contáctame.</p>
  {{- end -}}
</div>
